/* NOTE
 *  Layout and basic stuff
 */

body {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    font-size: 16px;
    color: #404040;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    line-height: 1.1;
    font-weight: bold;
}

/****************************** Grid layout ******************************/
:root {
    --color-1: #5A7D7C;
    --color-2: #D8D5DB;
    --color-3: #2D2D34;
    --color-4: #37505C;
    --color-5: #113537;
    --color-6: #F4F3F5;
    --responsive-xl: 1200px;
    --responsive-lg: 974px;
    --responsive-md: 768px;
    --responsive-sm: 480px;
    --center-wrapper-margin-x: 1em;
    --column-gap-padding-x: 5em;
    --grid-row-center-padding-y: 5em;
}

.gird-row {
    display: grid;
    box-sizing: border-box;
    /* border: 3px solid var(--color-5); */
}

.gird-row.center {
    grid-template-columns: 1fr minmax(var(--responsive-sm), var(--responsive-xl)) 1fr;
    padding: var(--grid-row-center-padding-y) 0;
}

.center-wrappper {
    grid-column: 2 / span 1;
    margin: 0 var(--center-wrapper-margin-x);
}


.flex-res-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.flex-item-1-3 {
    flex: 1 1 30%;
    /* background: saddlebrown; */
}

.flex-item-2-3 {
    flex: 2 2 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 50%, auto));
}

/****************************** Carousel ******************************/
.carousel-container{
    overflow-x: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.carousel-container .carousel-item{
    flex: 0 0 100%;
}

/****************************** Section detailed styles ******************************/
#header {
    height: 100vh;
    background: url(../img/bg-header.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.hello-gp {
    background-color: var(--color-6);
    opacity: .7;
    outline: 4px double var(--color-6);
    outline-offset: 8px;
    min-height: 20em;
    min-width: 20em;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hello-gp h1,
.hello-gp h4  {
    flex: 0;
}

#basic-msg {
    grid-template-columns: repeat(auto-fit, minmax( calc(var(--responsive-md) / 2) , 1fr));
    /* background-color: var(--color-6); */
}
.bg-self {
    background: url(../img/bg-self.jpg);
    background-size: cover;
    background-position: 50% 50%;
    mix-blend-mode: multiply;
    width: 100%;    
    min-height: 600px;
}

.self-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    min-height: 600px;
    margin: 0;
    font-size: .9em;
    line-height: 4;
}
.self-contact dt{
    flex: 0 0 50%;
    padding-left: 24%;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto Condensed';
    font-weight: 700;
}
.self-contact dt::after{
    content: '';
    position: absolute;
    right: 10%;
}
.self-contact dd{
    flex: 0 0 50%;
    margin: 0;
    font-family: 'Roboto Condensed';
    font-weight: 400;
}

#works {
    background: var(--color-6);
}

.works-content {
    min-height: 600px;
}

.emp-description h2,
.works-description h2 {
     font-family: 'Kreon'; 
     margin-bottom: 3em;
     position: relative;
}

.emp-description h2::after,
.works-description h2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.5em;
    height: 3px;
    width: 20px;
    background: black;
}

.emp-description p, 
.works-description p {
    padding-right: var(--column-gap-padding-x);
    font-family: 'Roboto'; 
    font-weight: 400;
    font-size: .9em;
    line-height: 2.5;
    text-align: justify;
}

.work-img,
.emp-wrapper {
    grid-column: span 1;
    line-height: 0;
}

.work-img {
    position: relative;
    border: 1px solid var(--color-2);
    overflow: hidden;
    mix-blend-mode: luminosity;
    transition: all .2s linear;
}

.work-img img {
    width: 100%;
    transform: scale(1);
    transition: inherit;
}

.work-img .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    box-sizing: border-box;
    background: rgba(255,255,255,.9);
    background-clip: content-box;
    opacity: 0;
    transition: inherit;
}

.work-img:hover {
    border-color: transparent;
    mix-blend-mode: normal;    
}
.work-img:hover img {
    transform: scale(1.1);
}
.work-img:hover .shadow{
    opacity: 1;
}

.emp-gp{
    grid-template-columns: repeat(auto-fit, minmax( calc(50% - 1em), auto));
    grid-gap: 2em;
}
.emp-wrapper {
    background: white;
    border: 1px solid var(--color-2); 
    min-height: 300px;
    line-height: initial;
    position: relative;
    transition-delay: .4s;
    transition-timing-function: linear;
    transition-duration: .1s;
    transition-property: transform, box-shadow;
    box-shadow: none;
}

.emp-wrapper:hover {
    transform: translate3d( -1em, -1em, 0 );
    box-shadow: 2em 2em var(--color-2);
}

.emp-card {
    padding: 3em 3em;
}

.emp-card .job-title{
    font-family: 'Roboto Condensed';
}

.emp-card .duration{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    opacity: .8;
}

.emp-card .company-name{
    font-family: 'Roboto';
    font-weight: 400;
    opacity: .6;
    display: inline-block;
    border: 1px solid var(--color-2);
    border-radius: .3em;
    padding: 3px 10px;
}

.emp-card hr {
    margin: 3em 0;
    opacity: .5;
}
.emp-card .job-desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: .8em;
    line-height: 2;
}

.emp-wrapper::before{
    content: '';
    position: absolute;
    left: 0px;
    top: -4px;
    height: 4px;
    width: 0;
    background: var(--color-2);
    transition: width .2s linear .2s;
}
.emp-wrapper::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -4px;
    height: 4px;
    width: 0;
    background: var(--color-2);
    transition: width .2s linear .2s;
}

.emp-wrapper:hover::after,
.emp-wrapper:hover::before{

    width: 100%;
}

.emp-card::before{
    content: '';
    position: absolute;
    left: -4px;
    bottom: -4px;
    height: 0;
    width: 4px;
    background: var(--color-2);
    transition: height .2s linear;
}
.emp-card::after{
    content: '';
    position: absolute;
    right: -4px;
    top: -4px;
    height: 0;
    width: 4px;
    background: var(--color-2);
    transition: height .2s linear;
}
.emp-wrapper:hover  .emp-card::before,
.emp-wrapper:hover  .emp-card::after  {
    height: calc(100% + 8px);
}

/* plus 22px scroll bar width */
@media ( max-width: 992px) {
    .works-gp,
    .emp-gp {
        flex: 1 1 100%;
    }
}

@media ( max-width: 790px) {
    .works-gp {
        /* background: seagreen; */
    }
}

@media ( max-width: 502px) {
    .works-gp,
    .emp-gp {
        grid-template-columns: repeat(auto-fit, minmax( 100%, auto));
    }
}