/* NOTE
 *  Layout and basic stuff
 */

body {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    font-size: 16px;
    color: #404040;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    line-height: 1.1;
    font-weight: bold;
}

/****************************** Grid layout ******************************/
:root {
    --color-1: #5A7D7C;
    --color-2: #D8D5DB;
    --color-3: #2D2D34;
    --color-4: #37505C;
    --color-5: #113537;
    --color-6: #F4F3F5;
    --responsive-xl: 1200px;
    --responsive-lg: 974px;
    --responsive-md: 768px;
    --responsive-sm: 480px;
    --center-wrapper-margin-x: 3.5em;
    --column-gap-padding-x: 5em;
    --grid-row-center-padding-y: 5em;
}

::selection {
    background: #ddd;
}

.gird-row {
    display: grid;
    box-sizing: border-box;
    /* border: 3px solid var(--color-5); */
}

.gird-row.center {
    grid-template-columns: 1fr minmax(var(--responsive-sm), var(--responsive-xl)) 1fr;
    padding: var(--grid-row-center-padding-y) 0;
}

.center-wrappper {
    grid-column: 2 / span 1;
    margin: 0 var(--center-wrapper-margin-x);
}


.flex-res-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.flex-item-1-3 {
    flex: 1 1 30%;
    /* background: saddlebrown; */
}

.flex-item-2-3 {
    flex: 2 2 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 50%, auto));
}

/****************************** Carousel ******************************/
.carousel-container{
    overflow-x: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.carousel-container .carousel-item{
    flex: 0 0 100%;
}

/****************************** Section detailed styles ******************************/
#header {
    height: 100vh;
    background: #5A7D7C url(../img/bg-header.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-blend-mode: exclusion;
    /* BFC */
    overflow: hidden; 
}

.hello-gp {
    background-color: var(--color-6);
    opacity: .7;
    outline: 4px double var(--color-6);
    outline-offset: 8px;
    /* min-height: 20em; */
    min-width: 20em;
    max-width: calc(var(--responsive-sm) - 2 * var(--center-wrapper-margin-x));
    /* justify-self: center; */
    /* align-self: center; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    /* before support grid */
    height: 20em;
    margin: calc(50vh - 10em) auto ; 
}

.hello-gp h1,
.hello-gp h4  {
    flex: 0;
}

#basic-msg {
    grid-template-columns: repeat(auto-fit, minmax( calc(var(--responsive-md) / 2) , 1fr));
     background-color: var(--color-6); 
}
.bg-self {
    background: url(../img/resume-head-b.jpg);
    background-size: cover;
    background-position: 50% 50%;
    mix-blend-mode: multiply;
    width: 100%;    
    min-height: 600px;
    -webkit-filter: grayscale(100%) brightness(120%);
}

.self-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    min-height: 600px;
    margin: 0;
    font-size: .9em;
    line-height: 4;
}
.self-contact dt{
    flex: 0 0 40%;
    padding-left: var(--column-gap-padding-x);
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto Condensed';
    font-weight: 700;
}
.self-contact dt::after{
    content: ':';
    position: absolute;
    /* right: 30%; */
    left: 10em;
}
.self-contact dd{
    flex: 0 0 60%;
    /* padding-left: 10%; */
    margin: 0;
    box-sizing: border-box;    
    font-family: 'Roboto Condensed';
    font-weight: 400;
}

#works {
    /* background: var(--color-6); */
}

.works-content {
    min-height: 600px;
}

.skills-description,
.emp-description,
.works-description {
    padding-bottom: var(--grid-row-center-padding-y);
}

.skills-description h2,
.emp-description h2,
.works-description h2 {
     font-family: 'Kreon'; 
     margin-bottom: 3em;
     position: relative;
}

.skills-description h2::after,
.emp-description h2::after,
.works-description h2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.5em;
    height: 3px;
    width: 20px;
    background: var(--color-1);
}

.skills-description p,
.emp-description p, 
.works-description p {
    padding-right: var(--column-gap-padding-x);
    font-family: 'Roboto'; 
    font-weight: 400;
    font-size: .9em;
    line-height: 2.5;
    /* text-align: justify; */
}

.work-img,
.emp-wrapper {
    grid-column: span 1;
    line-height: 0;
}

.work-img {
    position: relative;
    border: 1px solid transparent;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all .2s linear;
    padding-bottom: 100%;
}

.work-img img {
    width: 100%;
    transform: scale(1);
    transition: inherit;
    position: absolute;
    left: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.work-img .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    box-sizing: border-box;
    background: rgba(255,255,255,.9);
    background-clip: content-box;
    opacity: 0;
    transition: inherit;
    pointer-events: none;
}

.work-img.img-y img{
    height: 100%;
    width: auto;
}

.work-img:hover {
    border-color: transparent;
    filter: grayscale(0%);    
}
.work-img:hover img {
    transform: translateY(-50%) scale(1.1);
}
.work-img:hover .shadow{
    opacity: 1;
}

#employment {
    background: var(--color-6);
}

.emp-gp{
    grid-template-columns: repeat(auto-fit, minmax( calc(50% - 1em), auto));
    grid-gap: 2em;
}
.emp-wrapper {
    background: white;
    border: 1px solid var(--color-2); 
    min-height: 300px;
    line-height: initial;
    position: relative;
    transition-delay: .4s;
    transition-timing-function: linear;
    transition-duration: .1s;
    transition-property: transform, box-shadow;
    box-shadow: none;
}

.emp-wrapper:hover {
    transform: translate3d( -1em, -1em, 0 );
    box-shadow: 2em 2em var(--color-4);
}

.emp-wrapper::before,
.emp-wrapper::after,
.emp-card::before,
.emp-card::after {
    background: var(--color-4);
}

.emp-card {
    padding: 3em 3em;
}

.emp-card .job-title{
    font-family: 'Roboto Condensed';
}

.emp-card .duration{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    opacity: .8;
}

.emp-card .company-name{
    font-family: 'Roboto';
    font-weight: 400;
    opacity: .6;
    display: inline-block;
    border: 1px solid var(--color-2);
    border-radius: .3em;
    padding: 3px 10px;
}

.emp-card hr {
    margin: 3em 0;
    opacity: .5;
}
.emp-card .job-desc{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: .8em;
    line-height: 2;
    padding-left: 1em;
    list-style: none;
    position: relative;
}

.emp-card .job-desc li::before {
    content: '-';
    position: absolute;
    left: 0;
}

.emp-wrapper::before{
    content: '';
    position: absolute;
    left: 0px;
    top: -4px;
    height: 4px;
    width: 0;
    /* background: var(--color-2); */
    transition: width .2s linear .2s;
}
.emp-wrapper::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -4px;
    height: 4px;
    width: 0;
    /* background: var(--color-2); */
    transition: width .2s linear .2s;
}

.emp-wrapper:hover::after,
.emp-wrapper:hover::before{

    width: 100%;
}

.emp-card::before{
    content: '';
    position: absolute;
    left: -4px;
    bottom: -4px;
    height: 0;
    width: 4px;
    /* background: var(--color-2); */
    transition: height .2s linear;
}
.emp-card::after{
    content: '';
    position: absolute;
    right: -4px;
    top: -4px;
    height: 0;
    width: 4px;
    /* background: var(--color-2); */
    transition: height .2s linear;
}
.emp-wrapper:hover  .emp-card::before,
.emp-wrapper:hover  .emp-card::after  {
    height: calc(100% + 8px);
}

.skills-chart {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.skills-item {
    flex: 1 0 33.3%;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.skills-item svg {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.skills-item circle.donut,
.skills-item circle.donut-bg{
    transition: all 1.2s ease-out .6s;
    r: 40%;
    cx: 50%;
    cy: 50%;
    fill: transparent;
    stroke-width: .5em;
}
.skills-item circle.donut{
    stroke: var(--color-1);
    stroke-dasharray: 1 300%;
}
.skills-item circle.donut-bg{
    stroke: var(--color-6);
    stroke-dasharray: 300% 300%;
}

.skills-item .i-text{
    display: inline-block;
    height: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    z-index: 10;
}

.i-text b{
    color: var(--color-2);
    font-size: 1.2em;
    
}

#footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: var(--grid-row-center-padding-y) 0;
}

.footer-gp {
    flex: 0 1 var(--responsive-sm);
    text-align: center;
}
.footer-gp ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;
}

.footer-gp ul li{ 
    padding: 0 .5em;
}

.footer-gp ul li a{ 
    display: inline-block;
    height: 50px;
    width: 50px;
    background: var(--color-3);
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.footer-gp ul li a:hover {
    /* color: var(--color-5); */
    background: var(--color-1);
}

.footer-gp ul li a i{
    line-height: 50px;
    font-size: 25px;
    font-style: normal;
}

.i-zhi::before {
    content: 'çŸ¥';
}

/* plus 22px scroll bar width */
@media ( max-width: 992px) {
    .skills-chart,
    .works-gp,
    .emp-gp {
        flex: 1 1 100%;
    }

    .skills-description p,
    .emp-description p, 
    .works-description p {
        padding-right: 0;
    }
}

@media ( max-width: 790px) {
    .works-gp {
        /* background: seagreen; */
    }

    .emp-gp {
        grid-template-columns: repeat(auto-fit, minmax( 100%, auto));
    }

    .skills-item {
        flex: 0 0 50%;
    }
}

@media ( max-width: 502px) {
    .works-gp {
        grid-template-columns: repeat(auto-fit, minmax( 100%, auto));
    }

    .skills-item {
        flex: 0 0 100%;
    }
}
